<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 将mapper接口和配置文件对应起来 -->
<mapper namespace="com.cy.mapper.DepartmentMapper">
	
	<resultMap type="com.cy.entity.Department" id="departmentResultMap">
		<id property="departmentId" column="DEPARTMENT_ID" />
		<result property="departmentName" column="DEPARTMENT_NAME" />
	</resultMap>
	
	<select id="allDepartment" resultMap="departmentResultMap">
	  	SELECT *  
	  	FROM CRM_DEPARTMENT
	  	ORDER BY DEPARTMENT_ID
	</select>
  	
  	<select id="checkDepartmentName" resultMap="departmentResultMap">
	  	SELECT *  
	  	FROM CRM_DEPARTMENT
	  	where DEPARTMENT_NAME = #{departmentName}
	</select>
  	
  	<update id="updateDepartment">
  		update CRM_DEPARTMENT
  		set DEPARTMENT_NAME = #{department.departmentName}
  		where DEPARTMENT_ID = #{department.departmentId}
  	</update>
  	
  	<insert id="insertDepartment">
  		insert into CRM_DEPARTMENT(DEPARTMENT_NAME)
  		values(#{department.departmentName})
  	</insert>
  	
  	<delete id="deleteDepartment">
  		delete from CRM_DEPARTMENT
  		where DEPARTMENT_ID = #{department.departmentId}
  	</delete>
  	
  	<select id="searchDepartment" resultMap="departmentResultMap">
  		SELECT * FROM CRM_DEPARTMENT 
  		WHERE CONCAT(DEPARTMENT_ID,DEPARTMENT_NAME) LIKE "%"#{keyWord}"%"
  	</select>
  	
</mapper>