<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 将mapper接口和配置文件对应起来 -->
<mapper namespace="com.cy.mapper.EmployeeMapper">
	
	<resultMap type="com.cy.entity.Employee" id="employeeResultMap">
		<id property="employeeId" column="EMPLOYEE_ID" />
		<result property="employeeUsername" column="EMPLOYEE_USERNAME" />
		<result property="employeePassword" column="EMPLOYEE_PASSWORD" />
		<result property="employeeNickname" column="EMPLOYEE_NICKNAME" />
		<result property="employeeRealname" column="EMPLOYEE_REALNAME" />
		<result property="jobinfoId" column="JOBINFO_ID" />
		<result property="departmentId" column="DEPARTMENT_ID" />
		<result property="employeePhone" column="EMPLOYEE_PHONE" />
		<result property="officeTel" column="OFFICE_TEL" />
		<result property="workStatus" column="WORK_STATUS" />
	</resultMap>
	
	<select id="loginVerify" resultMap="employeeResultMap">
	  	SELECT *  
	  	FROM CRM_EMPLOYEE
	  	WHERE EMPLOYEE_USERNAME = #{employee.employeeUsername} and EMPLOYEE_PASSWORD = #{employee.employeePassword}
	</select>
  	
  	<select id="checkUsername" resultMap="employeeResultMap">
  		SELECT *  
	  	FROM CRM_EMPLOYEE
	  	WHERE EMPLOYEE_USERNAME = #{employeeUsername}
  	</select>
  	
  	<select id="checkNickname" resultMap="employeeResultMap">
  		SELECT *  
	  	FROM CRM_EMPLOYEE
	  	WHERE EMPLOYEE_NICKNAME = #{employeeNickname}
  	</select>
  	
  	<update id="updateEmployee">
  		update CRM_EMPLOYEE
  		set EMPLOYEE_USERNAME = #{employee.employeeUsername},
  			EMPLOYEE_NICKNAME = #{employee.employeeNickname},
  			EMPLOYEE_REALNAME = #{employee.employeeRealname},
  			EMPLOYEE_PHONE = #{employee.employeePhone},
  			JOBINFO_ID = #{employee.jobinfoId},
  			DEPARTMENT_ID = #{employee.departmentId}
  		where EMPLOYEE_ID = #{employee.employeeId}
  	</update>
  	
  	<insert id="insertEmployee">
  		insert into CRM_EMPLOYEE(EMPLOYEE_USERNAME,EMPLOYEE_PASSWORD,EMPLOYEE_NICKNAME,EMPLOYEE_REALNAME,JOBINFO_ID,DEPARTMENT_ID,EMPLOYEE_PHONE,OFFICE_TEL,WORK_STATUS)
  		values(#{employee.employeeUsername},'000000',#{employee.employeeNickname},#{employee.employeeRealname},#{employee.jobinfoId},#{employee.departmentId},#{employee.employeePhone},'',1)
  	</insert>
  	
  	<delete id="deleteEmployee">
  		delete from CRM_EMPLOYEE
  		where EMPLOYEE_ID = #{employee.employeeId}
  	</delete>
  	
  	<update id="resetPassword">
  		update CRM_EMPLOYEE
  		set EMPLOYEE_PASSWORD = '000000'
  		where EMPLOYEE_ID = #{employeeId}
  	</update>
  	
  	<update id="updatePassword">
  		update CRM_EMPLOYEE
  		set EMPLOYEE_PASSWORD = #{password}
  		where EMPLOYEE_ID = #{employee.employeeId}
  	</update>
  	
  	<resultMap type="com.cy.entity.Employee" id="aboutEmployeeResultMap">
		<id property="employeeId" column="EMPLOYEE_ID" />
		<result property="employeeUsername" column="EMPLOYEE_USERNAME" />
		<result property="employeePassword" column="EMPLOYEE_PASSWORD" />
		<result property="employeeNickname" column="EMPLOYEE_NICKNAME" />
		<result property="employeeRealname" column="EMPLOYEE_REALNAME" />
		<result property="jobinfoId" column="JOBINFO_ID" />
		<result property="departmentId" column="DEPARTMENT_ID" />
		<result property="employeePhone" column="EMPLOYEE_PHONE" />
		<result property="officeTel" column="OFFICE_TEL" />
		<result property="workStatus" column="WORK_STATUS" />
		
		<association property="department" javaType="com.cy.entity.Department">
			<id property="departmentId" column="DEPARTMENT_ID" />
			<result property="departmentName" column="DEPARTMENT_NAME" />
		</association>
		
		<association property="jobInfo" javaType="com.cy.entity.JobInfo">
			<id property="jobInfoId" column="JOBINFO_ID"/>
			<result property="jobInfoName" column="JOBINFO_NAME"/>
			<result property="departmentId" column="DEPARTMENT_ID"/>
		</association>
		
	</resultMap>
  
  	<select id="allEmployee" resultMap="aboutEmployeeResultMap">
	  	SELECT *  
	  	FROM CRM_EMPLOYEE e, CRM_DEPARTMENT d, CRM_JOBINFO j
	  	WHERE e.DEPARTMENT_ID = d.DEPARTMENT_ID
	  	AND e.JOBINFO_ID = j.JOBINFO_ID
	  	ORDER BY d.DEPARTMENT_ID,j.JOBINFO_ID,e.EMPLOYEE_ID
	</select>
  
  	<select id="searchEmployee" resultMap="aboutEmployeeResultMap">
  		SELECT *  
	  	FROM CRM_EMPLOYEE e, CRM_DEPARTMENT d, CRM_JOBINFO j
	  	WHERE e.DEPARTMENT_ID = d.DEPARTMENT_ID
	  	AND e.JOBINFO_ID = j.JOBINFO_ID
	  	AND CONCAT(e.EMPLOYEE_ID,e.EMPLOYEE_USERNAME,e.EMPLOYEE_NICKNAME,j.JOBINFO_NAME,d.DEPARTMENT_NAME,e.EMPLOYEE_PHONE) LIKE "%"#{keyWord}"%"
	  	ORDER BY d.DEPARTMENT_ID,j.JOBINFO_ID,e.EMPLOYEE_ID
  	</select>
  
</mapper>